@page "/articulos/eliminar/{Id}"
@inject NavigationManager _navigationManager
@inject IArticulosServicio _articulosServicio

<h3>Eliminar Articulo</h3>

@if (Mensaje != "")
{
    <div class="alert alert-danger" role="alert">
        @Mensaje
    </div>
}

@if (Articulo == null)
{
    {
        <div class="alert alert-warning" role="alert">
            Cargando...
        </div>
    }
}

else
{
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" @bind-value="@Articulo.Id">
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" @bind-value="@Articulo.Nombre" autofocus>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Precio</label>
        <div class="col-sm-10">
            <input type="number" readonly class="form-control-plaintext" @bind-value="@Articulo.Precio">
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Fecha de Compra</label>
        <div class="col-sm-10">
            <input type="date" readonly class="form-control-plaintext" @bind-value="@Articulo.FechaCompra">
        </div>
    </div>

    <div class="row text-center">
        <button class="btn btn-success" @onclick="Aceptar">Aceptar</button>
        <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
    </div>

}


@code {
    [Parameter]
    public string Id { get; set; } = "";

    private Articulo Articulo { get; set; } = null;
    private string Mensaje { get; set; } = "";

    protected override async Task OnParametersSetAsync()
    {
        Articulo = await _articulosServicio.Leer(Id);
    }


    private async Task Cancelar()
    {
        await Task.Delay(1);
        _navigationManager.NavigateTo("/articulos/index");

    }

    private async Task Aceptar()
    {
        Mensaje = "";
        if (Mensaje != "") return;

        await _articulosServicio.Eliminar(Articulo.Id);
        _navigationManager.NavigateTo("/articulos/index");
    }

}
